
<div class="row">
    <div class="slide-container">

        {{#each posts}}
            <div class="carousel-body fade">

                <div class="carousel-img">
                        <img src="/files/{{image}}" alt="Boo blog" class="col-12">
                </div>

                <div class="carousel-content col-5">
                    <button class="carousel-btn btn-orange">{{category.name}}</button>

                    <h2 class="carousel-title">{{title}}</h2>

                    <ul class="post-info">
                        <li>Criador</li>
                        <li>Data</li>
                        <li>Comentarios</li>
                        <li>Visitas</li>
                    </ul>

                </div>
            </div>
        {{else}}

        {{/each}}

        <div class="dots">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
    </div>
</div>
    
<div class="container">
    <div class="row justify-content-around">

        <section class="posts-container col-12 col-sm-7">

            {{#each posts}}

            <article class="post-content">

                <img src="/files/{{image}}" alt="{{title}}" class="col-12">
                    <button class="p-2 mt-4 btn-orange">{{category.name}}</button>

                    <h1 class="post-title">{{title}}</h1>

                    <ul class="post-info">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>

                    <h2 class="post-description">{{description}}</h2>

                    <a href="/postagem/{{slug}}" class="read-more">Ler mais</a>                    

            </article>

            {{else}}
                <mark><h5>Nenhuma postagem!</h5></mark>
            {{/each}}


        </section>

        <aside class="aside-container col-12 col-sm-4">

            <div class="aside-content popular-posts">
                <h2 class="orange-title">Popular posts</h2>

                        <div class="aside-post">
                            
                                <img src="/images/aside-post2.jpg" alt="" class="col-4">

                                <h3 class="popular-title col-8">Certainty listening no behaviour existence assurance situation</h3>
                            

                            <ul class="post-info col-8">
                                    <li>Criador</li>
                                    <li>Data</li>
                                    <li>Comentarios</li>
                                    <li>Visitas</li>
                            </ul>
                        </div>

                        <div class="aside-post">
                            
                                <img src="/images/aside-post2.jpg" alt="" class="col-4">

                                <h3 class="popular-title col-8">Certainty listening no behaviour existence assurance situation</h3>
                            

                            <ul class="post-info col-8">
                                    <li>Criador</li>
                                    <li>Data</li>
                                    <li>Comentarios</li>
                                    <li>Visitas</li>
                            </ul>
                        </div>

                        <div class="aside-post">
                            
                                <img src="/images/aside-post2.jpg" alt="" class="col-4">

                                <h3 class="popular-title col-8">Certainty listening no behaviour existence assurance situation</h3>
                            

                            <ul class="post-info col-8">
                                    <li>Criador</li>
                                    <li>Data</li>
                                    <li>Comentarios</li>
                                    <li>Visitas</li>
                            </ul>
                        </div>

                        <div class="aside-post">
                            
                                <img src="/images/aside-post2.jpg" alt="" class="col-4">

                                <h3 class="popular-title col-8">Certainty listening no behaviour existence assurance situation</h3>
                            

                            <ul class="post-info col-8">
                                    <li>Criador</li>
                                    <li>Data</li>
                                    <li>Comentarios</li>
                                    <li>Visitas</li>
                            </ul>
                        </div>

            </div>

            <div class="aside-content our-pics">
                <h2 class="orange-title">Our pics</h2>

                {{#each posts}}
                    <div class="aside-pic">

                            <div class="pic-img">
                                <img src="/files/{{image}}" alt="" class="col-12">
                                <button class="btn-pics btn-orange">{{category.name}}</button>
                            </div>
        
                            <h3 class="pic-title col-12">{{title}}</h3>

                            <ul class="post-info col-8">
                                    <li>Criador</li>
                                    <li>Data</li>
                                    <li>Comentarios</li>
                                    <li>Visitas</li>
                            </ul>
                    </div>

                {{else}}

                {{/each}}                        


            <div class="aside-content categorias">
                <h2 class="orange-title">Categorias</h2>

            {{#each categories}}
                <ul class="aside-cate">
                    <li class="cate-item"><a href="/categorias/{{slug}}">{{name}} <span class="cate-num">(3)</span></a></li>
                </ul>
            {{else}}

            {{/each}}
            </div>



            <div class="aside-content random-post">
                <h2 class="orange-title">Random post</h2>

                <div class="aside-pic">

                    <div class="pic-img">
                        <img src="/images/sport1.jpg" alt="" class="col-12">
                        <button class="btn-pics btn-orange">Sports</button>
                    </div>
 
                    <h3 class="pic-title col-12">Certainty listening no behaviour existence assurance situation</h3>

                    <ul class="post-info col-8">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>
                </div> 

            </div>

            <div class="aside-content tags-list">
                <h2 class="orange-title">Tags</h2>
    
                <div class="aside-tags">
                        <a href="#" class="tag">tagasas</a>
                        <a href="#" class="tag">tagdfds</a>
                        <a href="#" class="tag">tagsds</a>
                        <a href="#" class="tag">tasdsdg</a>
                        <a href="#" class="tag">tsdsdag</a>
                        <a href="#" class="tag">tdsdag</a>
                        <a href="#" class="tag">tasdsdg</a>
                        <a href="#" class="tag">tasdsg</a>
                        <a href="#" class="tag">tadsdg</a>
                        <a href="#" class="tag">sddsdsdsd</a>
                        <a href="#" class="tag">tagsdsd</a>
                        <a href="#" class="tag">tasdsdg</a>
                        <a href="#" class="tag">tasdsg</a>
                        <a href="#" class="tag">tadsdg</a>
                        <a href="#" class="tag">sddsds</a>
                        <a href="#" class="tag">tagsdsd</a>
                </div> 

            </div>
            
            <div class="aside-content survey-content">
                <h2 class="orange-title">Survey</h2>

                    <h4 class="survey-title">Qual é sua cor favorita?</h4>

                        <form action="" method="post">

                                <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="red">
                                    Red
                               </label>

                               <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="blue">
                                    Blue
                               </label>

                               <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="green">
                                    Green
                               </label>

                               <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="yellow">
                                    Yellow
                               </label>

                               <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="other">
                                    Other
                               </label>
                            
                        <button type="submit" class="btn-survey btn-orange">Vote</button>

                        <a href="" class="survey-result">View Results</a>
                    </form>
              
            </div>
            
        </aside>  
    </div>
</div>


